@using OnlineNotes.Models.Enums
@model OnlineNotes.Models.Quizzes.Quiz

@{
    ViewData["Title"] = "Create";
}

<style>
    .main-container {
        margin-bottom: 200px;
    }
</style>

<style>
    .scrollable-notes { /* This is the scrollable div for notes selection */
        max-height: 200px;
        overflow-y: auto;
        border: 1px solid #ccc;
        padding: 10px;
    }
</style>

@if (ViewBag.ErrorMsg != null)
{
    <div class="alert alert-dismissible alert-danger">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <strong>Oops!</strong> @ViewBag.ErrorMsg
    </div>
}

<h1>Generate a new quiz</h1>

<div class="row justify-content-center align-items-center main-container" style="height: 50vh;">
    <div class="col-md-8">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Title" class="control-label"><h5>Quiz Title:</h5></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <br />

            <div class="form-group">
                <label asp-for="Difficulty" class="control-label"><h5>Difficulty:</h5></label>
                <div>
                    @foreach (QuizDifficulty difficulty in Enum.GetValues(typeof(QuizDifficulty)))
                    {
                        <label class="radio-inline">
                            @if (difficulty != QuizDifficulty.Easy)
                            {
                                <input type="radio" asp-for="Difficulty" value="@difficulty" disabled="disabled" />
                            }
                            else
                            {
                                <input type="radio" asp-for="Difficulty" value="@difficulty" />
                            }
                            @difficulty
                        </label>
                    }
                </div>
                <span asp-validation-for="Difficulty" class="text-danger"></span>
            </div>
            <br />

            <div class="form-group">
                <label asp-for="QuestionsCount" class="control-label"><h5>Number of Questions:</h5></label>
                <input asp-for="QuestionsCount" type="number" class="form-control" />
                <span asp-validation-for="QuestionsCount" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label><h5>Include Notes:</h5></label>
                <div class="scrollable-notes">
                    @if (ViewBag.Notes != null)
                    {
                        @foreach (var note in ViewBag.Notes)
                        {
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="NoteContents" value="@note.Contents">
                                <label class="form-check-label">
                                    @note.Title
                                </label>
                            </div>
                        }
                    }
                </div>
            </div>

            <input type="hidden" asp-for="UserId" value="@ViewBag.UserId" />

            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <input type="submit" value="Generate" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
