@model IEnumerable<OnlineNotes.Models.Quizzes.Quiz>

@{
    ViewData["Title"] = "Index";
}

<div style="text-align: center; margin-top: 20px;">
    <h1>Patience. Work in progress</h1>
    <br />
    <h3>Currently it is possible to generate a complete quiz, however it is not possible to solve it yet.</h3>
    <br />
    <a class="btn btn-primary" asp-action="Create">+ create a new quiz</a>
    <hr />
</div>
<div>
    @if (!Model.Any())
    {
        <h3>There are no quizzes yet. Feel free to create one</h3>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Difficulty</th>
                    <th>Score</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var quiz in Model)
                {
                    <tr>
                        <td><h6>@quiz.Title</h6></td>
                        <td>@quiz.Difficulty</td>
                        <!-- <td>@quiz.Score</td> -->
                        <td>
                            @if (quiz.Score != null)
                            {
                                @quiz.Score
                            }
                            else
                            {
                                @("-")
                            }
                        </td>
                        <td class="text-end">
                            <div class="d-flex gap-1 justify-content-end">
                                <a class="btn btn-info" asp-action="QuizAttempt" asp-route-id="@quiz.Id">View generated quiz</a>
                                <button class="btn btn-danger delete-btn" data-bs-toggle="modal" data-bs-target="#deleteModal" data-bs-id="@quiz.Id">Delete</button>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>

<!-- The Modal -->
<div class="modal" id="deleteModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Are you sure you want to delete this quiz?</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="quizId" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" onclick="deleteQuiz()">Delete</button>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $('#deleteModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var quizId = button.data('bs-id');
            $('#quizId').val(quizId);
        });

        function deleteQuiz() {
            // Retrieve the quiz id from the modal content
            var quizId = $('#quizId').val();
            var url = '@Url.Action("Delete", "Quizzes")/' + quizId;
            // Perform the delete operation using AJAX
            $.ajax({
                url: url,
                type: 'DELETE',
                data: { id: quizId },  // Add this line to pass the ID as data
                success: function (data) {
                    // Handle success (if needed)
                    console.log('Quiz deleted successfully.');
                    // Reload the page or update the UI as needed
                    location.reload();
                },
                error: function (error) {
                    // Handle error (if needed)
                    console.error('Error deleting quiz:', error);
                },
                complete: function () {
                    // Close the modal regardless of success or failure
                    $('#deleteModal').modal('hide');
                }
            });
        }
    </script>
}
