@model OnlineNotes.Models.Quizzes.Quiz

@{
    ViewData["Title"] = "QuizAttempt";
}

<h1>Solve a quiz</h1>
<br />

<div>
    <p><h5>Title:</h5> @Model.Title </p>
    <p><h5>Difficulty:</h5> @Model.Difficulty</p>
    <br />
    <!--
    <p><h5>Quiz:</h5> @Model.NoteContents</p>
    -->
</div>

<div>
    <form method="post" asp-action="SubmitAnswers">
        @foreach (var question in Model.Questions)
        {
            <div>
                <fieldset id="question_@question.Id">
                    <p><h5>Question:</h5> <h6>@question.QuestionText</h6></p>
                    @for (int i = 0; i < question.QuestionOptions.Count; ++i)
                    {
                       var option = question.QuestionOptions[i];
                        <label>
                            <input type="radio" name="question_@question.Id" value="@i" />
                            @option.OptionText
                        </label>
                        <br />
                    }

                </fieldset>
            </div>
            <hr />
        }
        <input type="hidden" name="QuizId" value="@Model.Id" />
        <button type="submit" class="btn btn-primary">Submit answers</button>
    </form>
</div>