@model IEnumerable<OnlineNotes.Models.Note>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@*Makes the text warp to prevent horizontal scrolling*@
<style>
    pre {
        overflow-x: auto;
        white-space: pre-wrap;
    }

    .status-column {
        width: 50px; /* Adjust the width as needed */
    }
</style>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
    <div class="btn-group" role="group" aria-label="Filter radio">
        <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked="">
        <a class="btn btn-outline-primary" for="btnradio1" asp-action="Filter">All</a>

        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" checked="">
        <a class="btn btn-outline-primary" for="btnradio2" asp-action="Filter" asp-route-status="Public">Public</a>

        <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off" checked="">
        <a class="btn btn-outline-primary" for="btnradio3" asp-action="Filter" asp-route-status="Draft">Draft</a>

        <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off" checked="">
        <a class="btn btn-outline-primary" for="btnradio4" asp-action="Filter" asp-route-status="Archived">Archived</a>
    </div>
</p>
<table class="table">
    <thead>
    <tr>
        <th class="status-column">Status</th> <!-- Status column -->
        <th style="width: 200px">
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contents)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
                <td class="status-column">
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
                <td>
                    <pre>@Html.DisplayFor(modelItem => item.Contents)</pre>
            </td>
            <td>
                <div class="d-flex gap-1">
                    <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Details</a>
                    <a class="btn btn-info" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </div>
            </td>
        </tr>
    }
    </tbody>
</table>