@model IEnumerable<OnlineNotes.Models.Note>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@*Makes the text warp to prevent horizontal scrolling*@
<style>
    pre {
        overflow-x: auto;
        white-space: pre-wrap;
    }

    .status-column {
        width: 50px; /* Adjust the width as needed */
    }
</style>

<p>
    <div class="btn-group" role="group">
        <a class="btn btn-primary" asp-action="Create" style="margin-right:100px">Create New</a>

        <button id="btnGroupDrop" type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Filter by </button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop">
            <a class="dropdown-item" asp-action="Filter">All</a>
            <a class="dropdown-item" asp-action="Filter" asp-route-status="Public">Public</a>
            <a class="dropdown-item" asp-action="Filter" asp-route-status="Draft">Draft</a>
            <a class="dropdown-item" asp-action="Filter" asp-route-status="Archived">Archived</a>
        </div>

        <form class="d-flex" style="margin-left:10px" asp-action="Search">
            <input class="form-control me-sm-2" type="search" placeholder="Search" name="term">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>

        <a class="btn btn-link" asp-action="Filter">Show All</a>
    </div>
</p>
<table class="table">
    <thead>
    <tr>
        <th class="date-column">Date Created</th> <!-- Created Date column -->
        <th class="status-column">Status</th> <!-- Status column -->
        <th style="width: 200px">
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contents)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.OrderByDescending(i => i.CreatedDate))
    {
        <tr>
                <td class="date-column">
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>

            <td class="status-column">
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
                <td>
                    <pre>@Html.DisplayFor(modelItem => item.Contents)</pre>
            </td>
            <td>
                <div class="d-flex gap-1">
                    <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Details</a>
                    <a class="btn btn-info" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </div>
            </td>
        </tr>
    }
    </tbody>
</table>